<section class="lg:w-full h-[100vh] lg:grid lg:grid-cols-2 items-center justify-center flex flex-col">
    <div class="flex justify-center bottom-0">
        <img class="lg:w-[80%] w-[80%] py-2 object-cover px-10" src="img/404.png" alt="">
    </div>
    <div class="flex flex-col justify-center items-center font-fredoka text-[#B0DB9C] lg:mr-20 lg:mb-10">
        <h1 class="font-bold lg:text-[10rem] text-[5rem]">404</h1>
        <h2 class="font-bold lg:text-[3rem] text-[1.5rem] lg:absolute lg:mt-56 text-center">Oops! Page not found</h2>
    </div>
</section>